*{
    padding: 0;
    margin: 0;
}
/* Navbar */
.navbar-brand img{
    width: 50px;
}
#navbar{
    margin-right: 20px;
}

/* Carousel layouts start here */
.custom-c-container{
    background-color: #555;
    color: white;
    padding: 30px 60px;
}
.c-card{
    max-width: 450px;
    margin: auto;
    text-align: center;
    padding: 60px 0px;
}
.c-card p{
    text-align: left;
}
