*{
    padding: 0;
    margin: 0;
}
/* Navbar */
.navbar-brand img{
    width: 50px;
}
#navbar{
    margin-right: 20px;
}

/* Carousel layouts start here */
.custom-c-container{
    background-color: #555;
    color: white;
    padding: 30px 60px;
}
.c-card{
    max-width: 450px;
    margin: auto;
    text-align: center;
    padding: 60px 0px;
}
.c-card p{
    text-align: left;
}
        /* Carousel layout ends here */
            /* Main layout starts here */
/* Text container starts here */
.main{
    background-color: #e9ecf2;

}
.text-container{
    padding: 40px 0px;
    background-color: #e8e7dc;
}
/* Some Videos in main */
#watch-videos{
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

/* Here is footer */

/* Social Media icons */
#social-media-icons a i{
    padding: 10px;
    font-size: 18px;
    color: white;
}
#social-media-icons a i:hover{
    scale: 1.8;
    color: pink;

}
.row > div{
    margin-bottom: 40px;
}

/* Footer ends here */